{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    <title>Open Database</title>
</head>

<body>

  <center>
    <div class="jumbotron jumbotron">

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-danger" role="alert">
              <a href="https://github.com/imvickykumar999/Vicksbase-Authentication">

                <h1 style="color:red;">
                  <strong>
                    Open Database
                    <br>
                    <em style="color:green;">See Code on GitHub</em>
                  </strong>
                </h1>

              </a>
            </div>

          </div>
        </div>

        <br><br>
          <form method="post" action="/converted_yourquotes">
            <div class="alert alert-light" role="alert">

              <div class="alert alert-primary" role="alert">

                <a target="_blank" href="https://api.whatsapp.com/send?phone=918239957923&text=What%20is%20Credential%20to%20write%20quotes?">
                  <h2 style="color:blue;">
                    <strong>
                      Click me to <br> Ask Vicky, and <br><br> Enter Credentials
                    </strong>
                  </h2>
                </a>

                <br>
                <input type="password" name="credentials" placeholder="Due to Security Reason"/>
                <br><br>
              </div>

              <div class="alert alert-danger" role="alert">
                <h3>
                  <strong>Enter Path</strong>
                </h3>

                <input type="text" name="person" placeholder="e.g., Folder / SubFolder"/>
                <br><br>
              </div>

              <div class="alert alert-success" role="alert">
                <h3>
                  <strong>Enter Data</strong>
                </h3>

                <textarea name="message" rows="5" cols="40"> </textarea>
                <br><br>
              </div>

              <input type="image"
                     src="../static/logo/submit.png"
                     width="200"
                     height="60"
                     alt="submit"/>

            </div>
          <br><br>
        </form>
      </div>

      <br>
      <div class="jumbotron jumbotron">

        <a class="btn btn-warning"
        data-toggle="collapse"
        href="#collapseExample"
        role="button">

        <h1 style="color:black">
          Click me to
          <br>
          See Quotes
        </h1>
        </a>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class="container">
            <br>

            {% for key, values in data.items() %}
              <div class="alert alert-warning" role="alert">
              <!-- <div class="jumbotron jumbotron-fluid"> -->
              <br>
                <div class="alert alert-primary" role="alert">
                  <h1 style="color:blue">
                    <strong><em>{{key}}</em></strong>
                  </h1>
                </div>
                <br>

                {% for subkey, subvalues in values.items() %}
                  <div class="alert alert-light" role="alert">

                    <br>
                    <div class="alert alert-danger" role="alert">
                      <h1 style="color:red">
                        {{subkey}}
                      </h1>
                    </div>

                    <br>
                    <div class="alert alert-success" role="alert">
                      <h1 style="color:red">
                        {{subvalues}}
                      </h1>
                    </div>

                  </div>
                  <br><br>
                {% endfor %}

              </div>
              <br><br>
            {% endfor %}

          </div>
        </div>
      </div>

    </div>
  </center>

</body>
</html>

{% endblock %}
